<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title='Register')"/>

<body>
<!--navbar-->
<nav th:replace="fragments/navbar :: navbar"/>

<!--form-->
</div> <!-- card.// -->
<div class="container">
    <br>
    <p class="text-center"><a href="http://theundefinedavengers.monster/">Click here</a> to support the Avengers!:)</p>
    <hr>
    <div class="row">
        <!--        empty column so that the form is in the middle-->
        <aside class="col-sm-4"></aside>
        <aside class="col-sm-4">

            <div class="card">
                <article class="card-body">
                    <h4 class="card-title text-center mb-4 mt-1">Update profile</h4>
                    <hr>
                    <form >

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input class="form-control" name='fullName' placeholder="Edit your name" type="text">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label>Please attach your CV</label>
<!--                                    <span class="input-group-text" id="basic-addon"> <i class="fa fa-lock"></i> </span>-->
                                </div>
<!--                                <input class="form-control" name='cv' placeholder="upload cv" type="text">-->
                                <input type="file" name="cv" accept="pdf">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->

                        <div class="form-group">
                            <button type="submit" value="submit" name="submit" class="btn btn-primary btn-block"> Save  </button>
                        </div> <!-- form-group// -->

                    </form>
                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
    </div> <!-- row.// -->

</div>
<!--container end.//-->
<!--footer-->
<nav th:replace="fragments/footer :: footer"/>
</body>
</html>